#mietgeraete {
    padding-top: 0.2rem;
}

@media (min-width: 768px) {
    .column-box {
        column-count: 4;

    }
}

#mietgeraete .flex-element{
    page-break-inside: avoid;
}

#mietgeraete h3 {
    text-align: center;
}

#mietgeraete .flex-element ul li{
    list-style: none;
}

#mietgeraete .flex-element ul li a{
    color:red;
}