#mietgeraete {
    padding-top: 0.2rem;
}

#mietgeraete .flex-element {
    width: 300px;
}

#mietgeraete h3 {
    text-align: center;
}

#mietgeraete .flex-element ul li{
    list-style: none;
}

#mietgeraete .flex-element ul li a{
    color:red;
}