/* Sonderangebote Layout */

#sonderangebote .flex-element{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

#sonderangebote .flex-element img {
    max-width: 100%;
}

@media only screen and (max-width:950px) {
    #sonderangebote .flex-element .image-container {
        max-width: 100%;
    }

}

@media only screen and (min-width:950px) {
    #sonderangebote .flex-element img {
        margin-left: -1rem;
        max-width: 12rem;
    }

}

#sonderangebote .preise {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap
}

/* Sonderangebote Style */

#sonderangebote h5.uvp{
    text-decoration: line-through red;
    text-decoration-thickness: 0.1rem;
    font-size: var(--normal-font-size);
    color: #333;
    margin: 0.1rem 1rem;
}

#sonderangebote h4.preis{
    font-size: var(--title-font-size);
    color: red;
    font-weight: bold;
    margin: 0.1rem 1rem;
}