#mietgeraete {
    padding-top: 0.2rem;
}

@media only screen and (max-width:639px) {
    .column-box {
        column-count: 1;
    }
}

@media only screen and (max-width:959px) and (min-width: 640px){
    .column-box {
        column-count: 2;
    }
}

@media only screen and (max-width:1279px) and (min-width: 960px){
    .column-box {
        column-count: 3;
    }
}

@media only screen and (max-width:1599px) and (min-width: 1280px){
    .column-box {
        column-count: 4;
    }
}

@media only screen and (max-width:1919px) and (min-width: 1600px){
    .column-box {
        column-count: 5;
    }
}

@media only screen and (min-width: 1920px){
    .column-box {
        column-count: 6;
    }
}

#mietgeraete .flex-element{
    page-break-inside: avoid;
    padding: 1rem;
    margin:0;
}

#mietgeraete h3 {
    text-align: center;
}

#mietgeraete .flex-element ul {
    margin-left: -1.5rem;
}

#mietgeraete .flex-element ul li{
    list-style: none;
}

#mietgeraete .flex-element ul li a{
    color:red;
}