/* Sonderangebote Layout */

#sonderangebote .flex-element {
    width: 100%;
}

#sonderangebote .description-image-container {
    display: flex;
    align-items: center;
}

@media only screen and (max-width:950px) {
    #sonderangebote .image-container {
        max-width: 500px;
    }
    #sonderangebote .description-image-container {
        flex-direction: column;
    }
}

@media only screen and (min-width:950px) {
    #sonderangebote .description-image-container {
        flex-direction: row;
    }
    #sonderangebote .image-container {
        padding: 1rem;
    }
}

@media only screen and (min-width:950px) and (max-width:1300px) {
    #sonderangebote .image-container {
        width: 30%;
    }
    #sonderangebote .main-description {
        width: 70%;
    }
}

@media only screen and (min-width:1300px){
    #sonderangebote .image-container {
        width: 20%;
    }
    #sonderangebote .main-description {
        width: 80%;
    }
}

img {
    max-width: 100%;
}

/* Style offers */

#sonderangebote .prices {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap
}

#sonderangebote .offers {
    width: 100%;
}

#sonderangebote .main-description h3 {
    text-align: center;
}

#sonderangebote .offers h5.uvp {
    text-decoration: line-through red;
    text-decoration-thickness: 0.1rem;
    font-size: var(--normal-font-size);
    color: #333;
    margin: 0.1rem 1rem;
}

#sonderangebote .offers h4.price {
    font-size: var(--title-font-size);
    color: red;
    font-weight: bold;
    margin: 0.1rem 1rem;
}

#sonderangebote .offer {
    border-top: 1px solid var(--third-color);
    padding: 0.5rem;
}